/* app/assets/stylesheets/employees.scss */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  h1 {
    color: #343a40;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #dee2e6;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #343a40;
    color: white;
  }
  
  td a {
    color: #007bff;
    text-decoration: none;
  }
  
  td a:hover {
    text-decoration: underline;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  form input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  a{
    text-decoration: none;
    color: #007bff;
  }

  a:hover{
    color: red;
  }